.mainhome {
    width: 95%;
    margin: 0 auto;
    color: var(--main);
}

.miseenavant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 45px;
}

.falaise {
    height: 225px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
}

h1 {
    font-size: 48px;
    color: white;
    position: absolute;
}

.locations {
    display: grid;
	column-gap: 10px;
	grid-template-columns: auto auto auto;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 50px;
}

.locate {
    width: 340px;
    height: 340px;
    background: linear-gradient(180deg, var(--main) 0%, rgba(100, 37, 37) 100%);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.locate p {
    color: white;
    font-size: 18px;
    padding-left: 10px;
}
