.mainhome {
    width: 95%;
    margin: 0 auto;
    color: var(--main);
}

.miseenavant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.falaise {
    margin-top: 60px;
    height: 225px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(70%);
}

h1 {
    font-size: 48px;
    color: white;
    position: absolute;
    font-weight: normal;
}

.locations {
    display: grid;
    justify-content: space-between;
	column-gap: 10px;
	grid-template-columns: auto auto auto;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 50px;
    margin-top: 40px;
}

.locate {
    width: 340px;
    height: 340px;
    margin-bottom: 50px;
    position: relative;
}

.locate a {
    display: flex;
    position: relative;
}

.locate img {
    object-fit: cover;
    height: 340px;
    width: 100%;
    border-radius: 10px;
    position: absolute;
}

.locate p {
    color: white;
    padding-left: 20px;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 0px;
}
